SELECT
	COALESCE(RM.DESCR,BQ1TITL) FGRP_DESCR,
	D35USR3 FUNC_AREA,
	IGVEN#+' - '+RTRIM(BTNAME) VENDOR,
	IDDATE INVOICE_DATE,
	FHDDAT DUE_DATE,
	CAST(PDATE AS DATE) VCHR_DATE,
	IGCDAT CHECK_DATE,
	CAST(NULL AS DATE) PAY_DATE,
	IGCHQ#,
	COALESCE(AMT,IGGROS) AMOUNT,
	'OPEN CHECKS' SRCE
	/*
	DIGITS(IGFSYY) IGFSYY,
	DIGITS(IGFSPP) IGFSPP,
	DIGITS(IGFSYY)+DIGITS(IGFSPP) IGPERD,
	IGCOM#,
	BTBANK,
	DIGITS(AVTVH#) AVTVH#,
	IDINV#,
	IGCHQ#,
	ETHTOT,
	IGVEN#,
	BTNAME,
	IGGROS,
	IFCOM#+DIGITS(IFAPGL),
	COALESCE(ACCG,ACCT) ACCT,
	PROJ,
	AZGROP,
	AMT,
	IESTS
	*/
FROM
	LGDAT.CHQR
	INNER JOIN LGDAT.UCHQ ON
		IECHQ# = IGCHQ# AND
		IECOM# = IGCOM# AND
		IEBNK# = IGBNK#
	LEFT OUTER JOIN LGDAT.EFTBD ON
		ETDEFT# = IGCHQ# AND
		ETDCOMN = IGCOM# AND
		ETDVEND = IGVEN#
	LEFT OUTER JOIN LGDAT.EFTBH ON
		ETHCOMN = ETDCOMN AND 
		ETHEBNK = ETDEBNK AND 
		ETHBTC# = ETDBTC#
	LEFT OUTER JOIN LGDAT.VEND ON 
		BTVEND = IGVEN#
	LEFT OUTER JOIN LGDAT.CONT ON
		IFCOM# = IGCOM# AND
		IFBNK# = IGBNK#
	LEFT OUTER JOIN LGDAT.AVTX ON
		AVTCHC = IGCOM# AND
		AVTCHB = IGBNK# AND
		AVTCHQ = IGCHQ# AND
		AVTTYP IN (' 4',' 5') 
	LEFT OUTER JOIN LGDAT.VCHR ON
		IDCOM# = IGCOM# AND
		IDVCH# = AVTVH# AND
		IDBNK# = IGBNK#
	LEFT OUTER JOIN LGDAT."OPEN" ON	
		FHCOM# = IDCOM# AND
		FHBANK = IDBNK# AND
		FHVCH# = IDVCH#
	LEFT OUTER JOIN RLARP.FFSBGLR1 ON
		MODULE = 'APVN' AND
		CUSKEY1 = DIGITS(AVTVH#) AND
		SUBSTR(ACCT,1,2) = IGCOM# AND 
		PERD = FORMAT(IDFISY,'00')+FORMAT(IDFISP,'00') AND
		ACCT <>  CAST(IFCOM# AS VARCHAR(2))+FORMAT(IFAPGL,'0000000000')
	LEFT OUTER JOIN 
	(
		SELECT DISTINCT
			CAST(YACOMP AS VARCHAR(2))+FORMAT(Y1PRVR,'0000000000') PPVG, CAST(YACOMP AS VARCHAR(2))+CASE YAACRL WHEN 0 THEN SUBSTR(A249,228,10) ELSE FORMAT(YAACRL,'0000000000') END ACCG
		FROM 
			LGDAT.GLIE
			LEFT OUTER JOIN LGDAT.PLNT ON
				YAPLNT = Y1PLNT
			LEFT OUTER JOIN LGDAT.NAME ON
				A7 = 'C0000'+CAST(YACOMP AS VARCHAR(2))
	) GS ON
		PPVG = ACCT
	LEFT OUTER JOIN LGDAT.MAST M ON
		M.ACCT = COALESCE(ACCG,ACCT)
	LEFT OUTER JOIN LGDAT.FGRP ON
		AZGROP = BQ1GRP
	LEFT OUTER JOIN LGDAT.GGTP ON
		D35GCDE = AZFUT3
	LEFT OUTER JOIN 
	(
		SELECT '1103040' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
		SELECT '2101020' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
		SELECT '5401060' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1
	) RM ON
		RM.FGRP = AZGROP
WHERE
	IESTS = 'O' AND
	IECOM# <> 66 AND
	IEBNK# <> 'P' AND IEDATE >= '2015-02-18' AND
	BTNAME NOT LIKE '%(WIRE)%' AND
	BTNAME NOT LIKE '% wire %' AND
	BTNAME NOT LIKE '%(wire)%' AND 
	BTNAME NOT LIKE '% WIRE %'

UNION ALL

SELECT
	COALESCE(RM.DESCR,BQ1TITL) FGRP_DESCR,
	D35USR3 FUNC_AREA,
	KRVEN#+' - '+RTRIM(BTNAME) VENDOR,
	KRRDAT INVOICE_DATE,
	COALESCE(KRRDAT + PAYDAYS DAYS,PAYDATE) DUE_DATE,
	CAST(NULL AS DATE) VCHR_DATE,
	CAST(NULL AS DATE) CHECK_DATE,
	CAST(NULL AS DATE) PAY_DATE,
	'' CHECK_NUM,
	KREXT AMOUNT,
	CASE BTBANK	
		WHEN 'B' THEN 'UNM AP - ACH'
		WHEN 'U' THEN 
			CASE WHEN LOCATE(' wire ',BTNAME) >= 1 THEN 'UNM AP - WIRE' ELSE
			CASE WHEN LOCATE(' WIRE ',BTNAME) >= 1 THEN 'UNM AP - WIRE' ELSE
			CASE WHEN LOCATE('(WIRE)',BTNAME) >= 1 THEN 'UNM AP - WIRE' ELSE 
			CASE WHEN LOCATE('(wire)',BTNAME) >= 1 THEN 'UNM AP - WIRE' ELSE 'UNM AP - CHECK'
			END END END END 
		ELSE 'UNM AP - CHECK'
	END SRCE
	/*
	'UNVOUCHERED' SRCE,
	KRRDAT,
	COALESCE(KRRDAT + PAYDAYS DAYS,PAYDATE) DUE_DATE,
	KRCOM#,
	KRVEN#,
	BTBANK,
	KRPO#,
	KRRKEY,
	KRDESC,
	KREXT,
	SUBSTRING(DIGITS(KRIVYR),3,2)+DIGITS(KRIVPR) PERD,
	KACURR,
	KRCOM#+DIGITS(KRGLEX) ACCT,
	KREXT,
	AZGROP,
	COALESCE(RM.DESCR,BQ1TITL) FGRP,
	D35DES2,
	D35USR3
	*/
FROM
	LGDAT.PORCAP C
	INNER JOIN LGDAT.VEND ON
		BTVEND = KRVEN#
	LEFT OUTER JOIN LGDAT.MAST ON
		AZCOMP+DIGITS(AZGL#1)+DIGITS(AZGL#2) = KRCOM#+DIGITS(KRGLEX)
	LEFT OUTER JOIN
		(
			SELECT '1103040' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
			SELECT '2101020' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
			SELECT '5401060' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1
		) RM ON
		RM.FGRP = AZGROP
	LEFT OUTER JOIN LGDAT.FGRP ON
		BQ1GRP = AZGROP
	LEFT OUTER JOIN LGDAT.POH ON		
		KAPO# = KRPO#
	LEFT OUTER JOIN
	(
		SELECT 
			LTRIM(RTRIM(A9)) TERM, 
			LTRIM(RTRIM(A30)) DESCR, 
			FLOAT(SUBSTR(A215,10,3)) PAYPERC, 
			CASE INT(SUBSTR(A215,28,6)) WHEN 0 THEN '' ELSE '20'+SUBSTR(A215,32,2)+'-'+SUBSTR(A215,28,2)+'-'+SUBSTR(A215,30,2) END PAYDATE, 
			INT(SUBSTR(A215,64,3)) PAYDAYS, 
			ROUND(FLOAT(SUBSTR(A215,102,4))/FLOAT(10000),2) DISCP, 
			INT(SUBSTR(A215,84,3)) DISCDAYS ,
			-MIN(
				FLOAT(
					(
						30.0-
						CASE 
							CASE INT(SUBSTR(A215,28,6)) 
								WHEN 0 THEN '' 
								ELSE '20'+SUBSTR(A215,32,2)+'-'+SUBSTR(A215,28,2)+'-'+SUBSTR(A215,30,2) 
							END 
						WHEN '' THEN INT(SUBSTR(A215,64,3)) 
						ELSE 
							DAYS(
							CASE INT(SUBSTR(A215,28,6)) 
								WHEN 0 THEN '' 
								ELSE '20'+SUBSTR(A215,32,2)+'-'+SUBSTR(A215,28,2)+'-'+SUBSTR(A215,30,2) 
							END
							) - 
							DAYS(
								CURRENT_DATE
							) 
						END
					)/30.0
				)*.01,
				FLOAT(30.0 - INT(SUBSTR(A215,84,3)))/30.0*.01-COALESCE(ROUND(FLOAT(SUBSTR(A215,102,4))/FLOAT(10000),2),0.0)
			) VATPWACC
		FROM 
			LGDAT.CODE 
		WHERE 
			A2 = 'NN'
	) TM ON	
		TM.TERM = KATRMC
	LEFT OUTER JOIN LGDAT.GGTP ON		
		D35GCDE = AZFUT3
WHERE
	SUBSTRING(DIGITS(KRIVYR),3,2)+DIGITS(KRIVPR) >= '1503'

UNION ALL

SELECT
	COALESCE(RM.DESCR,BQ1TITL) FGRP_DESCR, 
	D35USR3 FUNC_AREA,
	VEND VENDOR,
	IDAT INVOICE_DATE,
	DDAT DUE_DATE,
	CAST(PDATE AS DATE) VCHR_DATE,
	CAST(NULL AS DATE) CHECK_DATE,
	CAST(NULL AS DATE) PAY_DATE,
	'' CHECK_NUM,
	COALESCE(D.AMT,OP.AMT) AMOUNT,
	CASE IDBNK#	
		WHEN 'B' THEN 'OPEN AP - ACH'
		WHEN 'U' THEN 
			CASE WHEN LOCATE(' wire ',VEND) >= 1 THEN 'OPEN AP - WIRE' ELSE
			CASE WHEN LOCATE(' WIRE ',VEND) >= 1 THEN 'OPEN AP - WIRE' ELSE
			CASE WHEN LOCATE('(WIRE)',VEND) >= 1 THEN 'OPEN AP - WIRE' ELSE 
			CASE WHEN LOCATE('(wire)',VEND) >= 1 THEN 'OPEN AP - WIRE' ELSE 'OPEN AP - CHECK'
			END END END END 
		ELSE 'OPEN AP - CHECK'
	END SRCE
	/*
	AVTTYP, 
	IDAT, 
	DDAT, 
	AVTCO#, 
	VEND, 
	IDBNK#, 
	AVTVH#, 
	IDINV#, 
	IDVDES, 
	OP.AMT, 
	OP.PERD, 
	FHCURR, 
	MODULE, 
	BATCH, 
	TDATE, 
	PDATE, 
	COALESCE(ACCG,ACCT) ACCT, 
	D.AMT,
	PROJ,
	USRN,
	CUSKEY1, 
	CUSKEY2, 
	CUSKEY3, 
	CUSVEND,
	RECID,
	COALESCE(D.AMT,OP.AMT) AMT,
	AZGROP FGRP, 
	COALESCE(RM.DESCR,BQ1TITL) FGRP_DESCR, 
	D35DES2, 
	D35USR3
	*/
FROM
	---------------ap balance as of fiscal period----------------------
	(
		-------------------transactions since target---------------
		SELECT
			AVTTYP, CHAR(FHIDAT) IDAT, CHAR(FHDDAT) DDAT, AVTCO#, IDVEN#+' - '+BTNAME VEND, IDBNK#, DIGITS(AVTVH#) AVTVH#, IDINV#, IDVDES, 
			AVTVAM* CASE AVTTYP WHEN 1 THEN -1 WHEN 7 THEN -1 ELSE 1 END AMT, 
			DIGITS(IDFISY)+DIGITS(IDFISP) AS PERD, FHCURR
		FROM
			LGDAT.AVTX 
			LEFT OUTER JOIN LGDAT.VCHR ON
				IDCOM# = AVTCO# AND
				IDVCH# = AVTVH#
			LEFT OUTER JOIN LGDAT.VEND ON
				BTVEND = IDVEN#
			LEFT OUTER JOIN LGDAT.OPEN ON
				FHCOM# = AVTCO# AND
				FHVCH# = AVTVH#
		WHERE
			AVTFIS > '20'+'1702' AND DIGITS(IDFISY)+DIGITS(IDFISP) <= '1702'

		UNION ALL
		
		------------------current open balance--------------------
		SELECT
			'OPEN' AVTTYP,
			CHAR(FHIDAT) IDAT, 
			CHAR(FHDDAT) DDAT,
			FHCOM# AVTCO#,  
			RTRIM(FHVEN#)+' - '+RTRIM(BTNAME) VEND,
			FHBANK IDBNK#,
			FHVCH# AVTVH#,
			FHINV# AS IDINV#, 
			FHVDES IDVDES,
			FHCBAL AMT,
			DIGITS(IDFISY)+DIGITS(IDFISP) AS PERD, FHCURR
		FROM
			LGDAT.OPEN
			LEFT OUTER JOIN LGDAT.VEND ON
				BTVEND = FHVEN#
			LEFT OUTER JOIN LGDAT.VCHR ON
				IDVCH# = FHVCH# AND
				IDCOM# = FHCOM# AND
				IDBNK# = FHBANK AND
				IDFISY = FHPYY AND
				IDFISP = FHPPER
		WHERE
			FHCBAL <> 0 AND DIGITS(FHPYY)+DIGITS(FHPPER) >= '1503' AND
			DIGITS(FHPYY)+DIGITS(FHPPER) <= '1702'
	) OP
	LEFT OUTER JOIN LGDAT.CONT ON
		IFCOM# = AVTCO# AND
		IFBNK# = IDBNK#
	LEFT JOIN RLARP.FFSBGLR1 D ON
		MODULE = 'APVN' AND
		CUSKEY1 = DIGITS(AVTVH#) AND
		SUBSTR(ACCT,1,2) = AVTCO# AND
		D.PERD = OP.PERD AND
		--SUBSTR(D.ACCT,7,4) = '1690' AND
		ACCT <>  IFCOM#+DIGITS(IFAPGL)
	LEFT OUTER JOIN 
	---------------------cross reference PPV account to inventory account----------------------------------------
	(
		SELECT DISTINCT
			YACOMP+DIGITS(Y1PRVR) PPVG, YACOMP+CASE YAACRL WHEN 0 THEN SUBSTR(A249,228,10) ELSE DIGITS(YAACRL) END ACCG
		FROM 
			LGDAT.GLIE
			LEFT OUTER JOIN LGDAT.PLNT ON
				YAPLNT = Y1PLNT
			LEFT OUTER JOIN LGDAT.NAME ON
				A7 = 'C0000'+YACOMP
	) GS ON
		PPVG = ACCT
	LEFT OUTER JOIN LGDAT.MAST ON
		AZCOMP+DIGITS(AZGL#1)+DIGITS(AZGL#2) = COALESCE(ACCG,ACCT)
	LEFT OUTER JOIN LGDAT.FGRP ON
		AZGROP = BQ1GRP
	LEFT OUTER JOIN LGDAT.GGTP ON
		D35GCDE = AZFUT3
	--------------------cross reference material related account groups to materials-----------------------------
	LEFT OUTER JOIN 
		(
			SELECT '1103040' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
			SELECT '2101020' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1 UNION ALL
			SELECT '5401060' FGRP, 'MATERIALS' DESCR FROM SYSIBM.SYSDUMMY1
		) RM ON
		RM.FGRP = AZGROP